.notification {
  border: solid 1px black;
  padding: 0.5rem;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.notification.success {
  background-color: lightblue;
}

.notification.error {
  background-color: lightcoral;
}
